body{
  margin:20px;
}


#labtoo{
  color: yellow;
}



#introparagraph{
    text-indent:20px;
    color: red;
  }
#introdiv{
  margin-right: 2555px;
}

body ul{
margin-right: 2800px;
}


#self figcaption{
  color: red;
}
