body {
  background-color: darkgreen;
}

p {
  text-indent: 20px;
}


.special {
  font-style: italic;
  font-family:papyrus;
   background-color: lime;
 width: 300px;
}

.special p{
  color:white;
}

.redbutton{
  background-color:red;
}
